Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. Some of the popular languages that data scientists use
2. Some of the commonly used libraries used by data scientists
3. Data science tools
4. examples of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Sckit learn
2. Tensor Flow
3. Num Py
4. Pandas

|Data Science Tools|
|------------------|
|Watson studio|
|IBM Data Base2|
|Azure|

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author
  Shalom Mtika